*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
h2 {
  font-size: 30px;
  margin: 0;
  padding: 40px 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul {
  padding: 0;
  list-style: none;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #582704;
  color: #ffffff;
}
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #ffffff;
}

.close-icon {
  display: none;
  font-size: 35px;
  cursor: pointer;
  color: #000000;
}
.navigation-container li {
  margin-right: 20px;
  display: inline;
}
.navigation-container a {
  font-size: 16px;
}
.hero {
  padding: 1rem;
  height: 90vh;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  justify-items: center;
  font-weight: bold;
  filter: brightness(95%);
  text-align: center;
}
.homepage {
  background: url("images/main-hero.jpg") center/cover no-repeat;
}
.menu {
  background: url("images/miguel-joya-GJzCc1IfP5g-unsplash.jpg") center/cover
    no-repeat;
}
.about {
  background: url("images/rohan-g--mwNJswDlXE-unsplash.jpg") center/cover
    no-repeat;
}
.contact {
  background: url("images/contact_us/himanshu-ranpara-uXuXXHDgMdM-unsplash.jpg")
    center/cover no-repeat;
}
.auth {
  background: url("images/auth/christin-hume-mfB1B1s4sMc-unsplash.jpg")
    center/cover no-repeat;
  height: 100vh;
}
.testimonials {
  background: url("images/testimonials/jason-goodman-NYMJYXfZG-g-unsplash.jpg")
    center/cover no-repeat;
}
.gallery {
  background: url("images/gallery/joanna-boj-MhOoD_h90ks-unsplash.jpg")
    center/cover no-repeat;
}

.chef {
  background: url("images/chef/daniel-kV4-vFoamV4-unsplash.jpg") center/cover
    no-repeat;
}

.hero h2 {
  margin-top: 85px;
  margin-bottom: 0;
  font-size: 65px;
  padding: 0;
}

.cta-btn {
  background-color: #582704;
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  min-width: 100px;
}
.home,
.menu a {
  border: 0.5px solid #ffffff;
  margin-top: 30px;
}
.auth .cta-btn {
  margin-top: 30px;
}
.featured-menu {
  background-color: #f7e1c7;
  display: grid;
  justify-items: center;
  padding: 20px 40px 60px;
  text-align: center;
}

.featured-menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.featured-menu-items img {
  object-fit: cover;
  width: 300px;
  height: 250px;
}

.reservation-container {
  background-color: #582704;

  text-align: center;
  color: #ffffff;
}
.reserve-a-table {
  text-align: center;
}
.reservation a {
  margin-top: 20px;
  border: 0.5px solid #ffffff;
}

.home-gallery {
  padding: 20px 40px 60px;
  background-color: #f7e1c7;
  justify-items: center;
}
.home-gallery-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  gap: 5rem;
  text-align: center;
}
.home-gallery-items img {
  object-fit: cover;
  width: 250px;
  height: 200px;
}

.home-testimonial-container {
  background-color: #582704;
  display: grid;
  padding: 20px 40px 60px;
  color: #ffffff;
  text-align: center;
  justify-items: center;
}
.home-testimonial {
  display: flex;
  max-width: 1200px;
  gap: 70px;
}
.home-testimonial img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.home-testimonial-card {
  line-height: 1.6;
}
.about-section {
  background-color: #f7e1c7;
  padding: 20px 40px 60px;
  text-align: center;
  justify-items: center;
}
.home-about {
  max-width: 1200px;
}
.meal-section {
  display: grid;
  text-align: center;
  background-color: #f7e1c7;
  font-weight: bold;
  padding: 0 20px;
}
.meal h2 {
  text-align: left;
}
.meal-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding: 20px 0 50px;
  justify-content: space-between;
}
.meal-item img {
  object-fit: cover;
  width: 20vw;
  aspect-ratio: 5/4;
}
.about-us {
  min-height: 80vh;
  width: 100%;
  padding: 100px 20px 30px;
  background-color: #f7e1c7;
}
.about-container {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}
.about-container img {
  object-fit: cover;
  width: 500px;
  height: 400px;
}
.about-h2,
.newsletter h2 {
  padding: 25px 0 0;
}
.statement-section {
  display: grid;
  justify-items: center;
  gap: 30px;
  padding: 20px;
  background-color: #f7e1c7;
}
.statement {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}
.mission,
.vision,
.value {
  width: 30vw;
  text-align: justify;
  justify-items: center;
  padding: 0 30px;
  background-color: #582704;
  color: #ffffff;
  box-shadow: 0 4px 8px #58270480, 0 6px 10px #58270480;
}

.newsletter {
  padding: 70px 30px;
  background-color: #f7e1c7;
  text-align: center;
}
.newsletter input {
  width: 300px;
}

input {
  height: 38px;
}
.contact-us {
  display: flex;
  justify-content: space-between;
  background-color: #f7e1c7;
  padding: 80px 30px;
  width: 100%;
}
.contact-details,
.contact-form {
  text-align: justify;
  width: 550px;
}
.contact-details h2 {
  padding: 10px 0;
}
.horizontal-form {
  display: flex;
  justify-content: space-between;
}
#form1 input,
#form2 input {
  width: 270px;
}
#form3 input,
#form4 textarea {
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  font-size: 20px;
  margin: 20px 0 10px;
}
.form-group input {
  border: none;
}
.form-group textarea {
  height: 25vh;
  resize: none;
  border: none;
}
.contact-form .cta-btn {
  width: 130px;
  margin-top: 30px;
}
.contact-info {
  display: flex;
  justify-content: space-between;
}
.contact-info a {
  color: #000000;
}
#contact-info-1,
#contact-info-2,
#contact-info-3,
#contact-info-4 {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
  line-height: 1.6;
}
.social-info {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.social-info-icons {
  margin-left: 20px;
}
.signup-btn {
  text-decoration: underline;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #000000;
}

.main-blog {
  padding: 80px 20px;
  background-color: #f7e1c7;
  width: 100%;
  justify-items: center;
}
.blog-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}
.blog-content h2 {
  padding: 40px 0 10px;
}
.blog-content hr {
  margin: 0;
  border: 0.5px solid #582704;
}
.main-blog > img {
  object-fit: cover;
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 2;
}
.main-blog-post {
  width: 700px;
}
.featured-blog {
  width: 400px;
  height: max-content;
  position: sticky;
  top: 0;
}
.featured-post {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}
.featured-post a {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.featured-post img {
  object-fit: cover;
  width: 130px;
  aspect-ratio: 1.2;
}
.featured-post-title {
  line-height: 1.5;
}
.featured-post-title h3,
.featured-post-title p {
  margin: 0;
}

.testimonials-container {
  background-color: #f7e1c7;
  padding: 30px;
  justify-items: center;
}
#container-1,
#container-2,
#container-3 {
  display: flex;
}
.testimonials-card {
  text-align: center;
  width: 350px;
  margin: 25px;
  padding: 20px;
  box-shadow: 0 4px 8px #58270480, 0 0 10px #58270480;
}
.testimonials-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.gallery-grid {
  padding: 50px;
  background-color: #f7e1c7;
}
.gallery-grid #grid-1,
.gallery-grid #grid-2,
.gallery-grid #grid-3 {
  display: flex;
  justify-content: space-between;
}
.gallery-item img {
  width: 250px;
  height: 200px;
  margin: 30px 0;
  transition: transform 0.3s ease;
  object-fit: cover;
  vertical-align: middle;
}
.gallery-item img:hover {
  transform: scale(1.05);
}
.chef-container {
  background-color: #f7e1c7;
  padding: 50px 30px;
}
.chef-card {
  display: flex;
  margin: 150px 0;
  gap: 100px;
}

.chef-card p {
  line-height: 1.6;
}

.chef-card img {
  width: 500px;
  height: auto;
}

#chef-card-2 {
  flex-direction: row-reverse;
}

.footer-top,
.footer-bottom {
  margin: 0;
  padding: 20px 40px;
  background-color: #582704;
  color: #ffffff;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.svg-links {
  margin-top: 40px;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
}
.footer-item {
  width: 305px;
}
.footer-item h2 {
  padding: 10px 0;
}
.footer-links-item {
  width: 270px;
  padding-left: 60px;
}
.footer-ul {
  line-height: 1.7;
}
.footer-bottom {
  border-top: 1px solid #ffffff;
}
.copyright {
  text-align: center;
}

@media (max-width: 479.5px) {
  .hamburger {
    position: static;
    display: block;
  }
  .close-icon {
    display: inline;
  }
  .navigation-container {
    flex-direction: column;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: -250px; /* Start off-screen */
    height: 100%;
    width: 250px;
    padding: 30px 40px;
    transition: left 0.3s ease; /* Smooth slide effect */
    gap: 20px;
    z-index: 1;
  }

  .navigation-container a {
    color: #000000;
  }
  .navigation-container ul {
    display: grid;
    gap: 20px;
  }
  .navigation-container.show {
    left: 0; /* Slide in */
  }
  .header-container {
    justify-content: flex-start;
    gap: 20px;
  }

  .hero h2 {
    font-size: 3rem;
  }
  .featured-menu,
  .meal-section {
    padding: 0 20px;
  }
  .featured-menu-items {
    flex-direction: column;
    align-items: center;
    gap: 45px;
    margin-bottom: 50px;
  }
  .featured-menu-items img,
  .home-gallery-items img,
  .meal-item img {
    width: 100%;
    height: 250px;
  }
  .item-1,
  .item-2,
  .item-3,
  .breakfast,
  .lunch,
  .dinner {
    width: 100%;
  }
  .reservation {
    padding: 0 20px 30px;
  }
  .reservation p {
    margin: 0;
  }

  .home-gallery {
    padding: 0 20px 50px;
  }
  .home-gallery-items {
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }

  .gallery-item-1,
  .gallery-item-2,
  .gallery-item-3,
  .gallery-item-4 {
    width: 100%;
  }
  .home-testimonial {
    flex-direction: column;
    gap: 40px;
  }
  .home-testimonial-container,
  .about-section {
    padding: 20px 20px 60px;
  }
  .meal-item {
    flex-direction: column;
    width: 100%;
    gap: 50px;
  }
  .meal h2 {
    text-align: center;
  }

  .about-container {
    flex-direction: column;
  }
  .about-container img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
  }
  .statement {
    flex-direction: column;
    gap: 50px;
  }

  .mission,
  .vision,
  .value {
    width: 100%;
    padding-bottom: 20px;
  }

  .newsletter input {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-h2 {
    text-align: center;
  }

  .blog-content {
    flex-direction: column;
    gap: 50px;
  }
  .main-blog {
    padding: 80px 20px;
  }
  .main-blog img {
    width: 100%;
    height: auto;
    aspect-ratio: 5/4;
  }
  .main-blog-post {
    width: 100%;
  }
  .featured-blog {
    width: 100%;
  }
  .featured-post {
    flex-direction: column;
    gap: 25px;
  }
  .featured-post img {
    aspect-ratio: 3/2;
  }

  .footer-top,
  .footer-bottom {
    padding: 20px;
  }
  .footer-item {
    width: max-content;
  }
  .footer-links-item {
    width: 100%;
    padding-left: 0;
  }
}
@media (min-width: 480px) and (max-width: 767.5px) {
  .hamburger {
    position: static;
    display: block;
  }
  .close-icon {
    display: inline;
  }
  .navigation-container {
    flex-direction: column;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: -250px; /* Start off-screen */
    height: 100%;
    width: 250px;
    padding: 30px 40px;
    transition: left 0.3s ease; /* Smooth slide effect */
    gap: 20px;
    z-index: 1;
  }

  .navigation-container a {
    color: #000000;
  }
  .navigation-container ul {
    display: grid;
    gap: 20px;
  }
  .navigation-container.show {
    left: 0; /* Slide in */
  }
  .header-container {
    justify-content: flex-start;
    gap: 20px;
  }

  .hero h2 {
    font-size: 3.5rem;
  }
  .featured-menu {
    padding: 0 20px;
  }
  .featured-menu-items {
    flex-direction: column;
    align-items: center;
    gap: 45px;
    margin-bottom: 50px;
  }
  .featured-menu-items img,
  .home-gallery-items img,
  .meal-item img {
    width: 400px;
    height: 250px;
  }
  .item-1,
  .item-2,
  .item-3,
  .breakfast,
  .lunch,
  .dinner {
    width: 400px;
  }
  .reservation {
    padding: 0 20px 30px;
  }
  .reservation p {
    margin: 0;
  }

  .home-gallery {
    padding: 0 20px 50px;
  }
  .home-gallery-items {
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }

  .gallery-item-1,
  .gallery-item-2,
  .gallery-item-3,
  .gallery-item-4 {
    width: 100%;
  }
  .home-testimonial {
    flex-direction: column;
    gap: 40px;
  }
  .home-testimonial-container,
  .about-section {
    padding: 20px 20px 60px;
  }

  .meal-item {
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 50px;
  }
  .meal h2 {
    text-align: center;
  }
  .about-container {
    flex-direction: column;
  }
  .about-container img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/2.5;
  }

  .statement {
    flex-direction: column;
    gap: 50px;
  }

  .mission,
  .vision,
  .value {
    width: 100%;
    padding-bottom: 20px;
  }

  .newsletter input {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-h2 {
    text-align: center;
  }

  .blog-content {
    flex-direction: column;
    gap: 50px;
  }
  .main-blog {
    padding: 80px 20px;
  }
  .main-blog img {
    width: 100%;
    height: auto;
    aspect-ratio: 1.7;
  }
  .main-blog-post {
    width: 100%;
  }
  .featured-blog {
    width: 100%;
  }
  .featured-post {
    gap: 25px;
    justify-content: flex-start;
  }
  .featured-post img {
    width: 250px;
    aspect-ratio: 1.5;
  }
  .footer-top,
  .footer-bottom {
    padding: 20px;
  }
  .footer-item {
    width: max-content;
  }
  .footer-links-item {
    width: 100%;
    padding-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023.5px) {
  .hamburger {
    position: static;
    display: block;
  }
  .close-icon {
    display: inline;
  }
  .navigation-container {
    flex-direction: column;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: -350px; /* Start off-screen */
    height: 100%;
    width: 350px;
    padding: 30px 40px;
    transition: left 0.3s ease; /* Smooth slide effect */
    gap: 20px;
    z-index: 1;
  }

  .navigation-container a {
    color: #000000;
  }
  .navigation-container ul {
    display: grid;
    gap: 20px;
  }
  .navigation-container.show {
    left: 0; /* Slide in */
  }
  .header-container {
    justify-content: flex-start;
    gap: 20px;
  }

  .hero h2 {
    font-size: 3rem;
  }
  .featured-menu {
    padding: 0 20px;
  }
  .featured-menu-items {
    flex-direction: row;
    align-items: center;
    gap: 45px;
    margin-bottom: 50px;
  }
  .featured-menu-items img,
  .home-gallery-items img {
    width: 100%;
    height: 170px;
  }
  .item-1,
  .item-2,
  .item-3 {
    width: 230px;
  }
  .reservation {
    padding: 0 20px 30px;
  }
  .reservation p {
    margin: 0;
  }

  .home-gallery {
    padding: 0 20px 50px;
  }
  .home-gallery-items {
    flex-direction: row;
    align-items: center;
    gap: 45px;
  }
  .home-gallery-items img {
    height: 120px;
  }

  .gallery-item-1,
  .gallery-item-2,
  .gallery-item-3,
  .gallery-item-4 {
    width: 170px;
  }
  .home-testimonial {
    flex-direction: column;
    gap: 40px;
  }
  .home-testimonial-container,
  .about-section {
    padding: 20px 20px 60px;
  }

  .meal-item {
    width: 100%;
    gap: 20px;
  }

  .breakfast,
  .lunch,
  .dinner {
    width: 20vw;
  }
  .meal-item img {
    width: 100%;
    aspect-ratio: 5/4;
    height: auto;
  }
  .about-container {
    gap: 20px;
  }
  .about-container img {
    width: 45vw;
    aspect-ratio: 1;
    height: auto;
  }
  .mission,
  .vision,
  .value {
    width: 30vw;
  }

  .blog-content {
    flex-direction: column;
    gap: 50px;
  }
  .main-blog {
    padding: 80px 20px;
  }
  .main-blog img {
    width: 100%;
    height: auto;
    aspect-ratio: 2;
  }
  .main-blog-post {
    width: 100%;
  }
  .featured-blog {
    width: 100%;
  }
  .featured-post {
    gap: 25px;
    justify-content: flex-start;
  }
  .featured-post img {
    width: 250px;
    aspect-ratio: 1.5;
  }

  .footer-top,
  .footer-bottom {
    padding: 20px;
  }
  .footer-item {
    width: max-content;
  }
  .footer-links-item {
    width: 100%;
    padding-left: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1199.5px) {
  .featured-menu {
    padding: 0 20px;
  }
  .featured-menu-items {
    flex-direction: row;
    align-items: center;
    gap: 45px;
    margin-bottom: 50px;
  }
  .featured-menu-items img,
  .home-gallery-items img {
    width: 100%;
    height: 210px;
  }

  .item-1,
  .item-2,
  .item-3 {
    width: 280px;
  }
  .reservation {
    padding: 0 20px 30px;
  }
  .reservation p {
    margin: 0;
  }

  .home-gallery {
    padding: 0 20px 50px;
  }
  .home-gallery-items {
    flex-direction: row;
    align-items: center;
    gap: 45px;
  }
  .home-gallery-items img {
    height: 160px;
  }

  .gallery-item-1,
  .gallery-item-2,
  .gallery-item-3,
  .gallery-item-4 {
    width: 210px;
  }

  .home-testimonial-container,
  .about-section {
    padding: 20px 20px 60px;
  }

  .meal-item {
    width: 100%;
  }
  .mission,
  .vision,
  .value {
    width: 30vw;
  }
  .blog-content {
    width: 100%;
    gap: 5%;
  }
  .main-blog {
    padding: 80px 20px;
  }
  .main-blog > img {
    width: 100%;
    height: auto;
    aspect-ratio: 2;
  }

  .main-blog-post {
    width: 60%;
  }
  .featured-blog {
    width: 35%;
  }
  .featured-post {
    justify-content: flex-start;
    gap: 20px;
  }
  .footer-top {
    padding: 20px;
  }

  .footer-item {
    width: 300px;
  }
  .footer-links-item {
    width: 210px;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .featured-menu {
    padding: 0 20px;
  }
  .featured-menu-items {
    flex-direction: row;
    align-items: center;
    gap: 45px;
    margin-bottom: 50px;
  }
  .meal {
    width: 100%;
    max-width: 1200px;
    justify-self: center;
  }

  .item-1,
  .item-2,
  .item-3 {
    width: 280px;
  }
  .meal-item img {
    max-width: 250px;
  }
  .reservation {
    padding: 0 20px 30px;
  }
  .reservation p {
    margin: 0 auto;
    max-width: 1200px;
  }

  .home-gallery {
    padding: 0 20px 50px;
  }
  .home-gallery-items {
    flex-direction: row;
    gap: 45px;
  }
  .mission,
  .vision,
  .value {
    max-width: 390px;
  }

  .footer-container {
    width: 100%;
    max-width: 1200px;
  }
  .footer-top {
    justify-items: center;
    padding: 20px;
  }
}
